{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/student.css') }}">
{% endblock %}

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="container pt-3">
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


{% block body %}
<div class="container">
    <h3 class="mt-5 mb-5">Student page</h3>
    <div class="row pt-5">
        {% if courses %}
            {%for course in courses%}
                <div class="col-md-6">
                    <h3 class="mb-5"><a href="{{url_for('course_details', course_id=course.id)}}"> {{ course.name }} </a></h3>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}