{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/index.css') }}">
{% endblock %}
{% block body %}



<div class="services pt-5 pb-5">
    <div class="container">
        <h3 class="mb-5">Services</h3>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABJ0lEQVR4nO2ZUUoDMRCGv6fSC9ijWNTzadtrWUpFFEShL762nkIYCUwgD4tJaxtm5f9gYKGBzMdMd7K7IIQQIggTYAV8ARYsDsDCc6yyDJCwVeKhReTgi2+Ix21RmSrZOrEB1pXr3liRX/PClOxj5XoUIhGxY0WiR5V/JxIVk0gwTBXpyBR4qgzbUVRk5Xu/jVlkDnx7XPcQWR95vx9qk3S8eQFmRUvtfP3yj/ldTGToTPbsv324TG6pnUt1ETkHM5dI+3wWLTU/Z369/iNXwHuxX3ryY4wiuTKvwLahpUKLnIJJpCNTTfYBNNnRZEeT/Tc02U9Ak50GdETphLWetfJnhfQKPxp3ntu+ZfEiwOtQq8R9i8jEZXJlIsXeJZo+vQkhhODS/ADYV9kg4Q0CZgAAAABJRU5ErkJggg==">
                    <h5>Make Questions</h5>
                    <p class="text-black-50">Doctors can make multiple question</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACPklEQVR4nO2bz0tVQRTHPwT5bKGCUm1z0dsJWi6KWpih/4Lpayfizp2Fi2jjIjCjZVoLEXnr8sfOcqGoIbgod/YP1DKkHxi9GDgPDhc08N25M/d6PjC8x4U33zPfN3NmhjsDhmEYZ+Mq8BB4BDwOVJx2RWLJjDbgDfAHqEVSjoF5oNV34zuAgwgafFL5DLT7NGAtIbgNvASeBSpOeycR07Kvxt9VIn+BUeJhTGKqx3fbh8gLJbBIfCyp+J77EFhVAg+IjxHfw2BDCfQRH30qPhdr6myYAVgPqNkQ4NQc0O956Xsv5hzQmcHy+Fh0zrUB12I1AHk+7WnZO/2f6TcKA0JiBmA9ABsCBMwBJeBDYluaZnH1vhedKHNAr+cpsF5uxmpASf4hnz1gPeYeEBozAOsB2BAgR9vhSaBcpCHQeYbd4JcU4zMDyNl2+AlwvWgGhMQMwHoANgSwHIAlQXI6C9wHFoDB85gEy8APqftrkQ0YAKryWecCsKnq3iqyAd/k9z+Bbnk2oer9DXQV2YBtVcch0AMcqWdueUyRDSgD31U9v9T3feBi0Q1wDJ3w0vMGjZEbAxyvEwY8pXFyZcAlYE9l/Ua6fi4NcDRLEmwiHXJnQNp4N2BFCQwTHxUV3zsfArNKwB1LjY2qim/Gh8CdxHs6d0A5FsYTs8otX0IrCaFdOZgc6saI65UfEzG9xSPtcimhFmn55PvCBHItZU5Wb6EbrFeSr4AWMuSKHFGfCnhjZEpiuJxlww3DMAwKwj8sbueApzawTgAAAABJRU5ErkJggg==">
                    <h5>Know Your Score</h5>
                    <p class="text-black-50">Know your final score</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB6ElEQVR4nO2bvUpDQRCFP1KrrZjeJFgKie8iuTb+vEACIqZIFWx8GbXz5wHUSttoI6YzEWKlQmRhhSUQEu/dvTsmc2Ag1eyZyZmZO7ALCoXij1gBWsA98AGMIpvhcAccW25BsQX0BAQ9yV6BWqjgK8C7gCCn2QAoh0jAjXPIG7ALrBEfhsMe0Hf4Xfk+ZMNx/gVUkYdN4NPh6VUFB47jM+TiwuFpVOENLcdxB7noODwNZ29oO47Nb6kIxrOtCUAVMEoprRLwnGKePwHrUpTazuC4meGjppEjz6AK6KYIvjsvCsgTmgBUAWgJoD0AbYLoFEDHIP9hvnqGjkF0DKJjkIhjsJRy9fW1IkcvgWbA4GdZkaMnoJRy9fW1IkdPQGxoAlAFoCVAxB5QABLgMJAl9gyxPWAnhzGYSE5AkkMC6pITULAETwJZXXoJxIYmAFUAWgJE7AGrwGOKzt6bcL1tfL0Wvw5vZxhvpzOu1w3pCnhIecGxOsN6revwFERXQGxoAlAFoCWA9gC0CaJTAK/TqrXol6X3HcfnLOB1+crYg4lg73Iyvmf6dniaz2ivuHac922Gi8RH0T7oGDj8LkMcVB47RKoNQvz7v6jZzW0k1F7yeM+0DBwBt8BQQNBDy8VwWgodvELBfOEHE7selXEqSAgAAAAASUVORK5CYII=">
                    <h5>Documentation of Student</h5>
                    <p class="text-black-50">Document all student deatils with his score</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}